{{define "title"}}Home{{end}}

{{define "main"}}
    <div class="intro">
        <h1>Jobbox</h1>
        <p>Jobbox is a job application tracker that makes it easy to stay organized while you're on the hunt. Ditch the messy spreadsheet! Make your application tracking easy, with Jobbox.</p>
        <a href="/user/signup" class="button">Sign up!</a>
    </div>
{{end}}