{{define "title"}}View All Applications{{end}}

{{define "main"}}
    <h2>All Applications</h2>
    {{if .Jobs}}
        {{template "jobtable" .}}
    {{else}}
        <p>You have no job applications to view. <a href="/application/add">Add one!</a></p>
    {{end}}
{{end}}