* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: monospace;
}

::selection {
    background: #390099;
    color: white;
}

html, body {
    height: 100%;
}

body {
    overflow-y: scroll;
}

main {
    min-height: calc(100vh - 300px);
    overflow: auto;
}

header, nav, main, footer {
    padding: 2px calc((100% - 800px) / 2) 0;
}

header {
    background-repeat: no-repeat;
    text-align: center;
}

header a {
    text-decoration: none;
}

footer {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #c8c8c8;
}

h1 a {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h2, h3 {
    margin-bottom: 20px;
}

nav {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 30px;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
}

nav a {
    margin-right: 0.75em;
    display: inline-block;
}

nav form {
    display: inline-block;
    margin-left: 1.5em;
}

nav div {
    width: 50%;
    float: left;
}

nav div.nav-right:last-child {
    text-align: right;
}

nav div:last-child a {
    margin-right: 0;
}

nav form button {
    background: none;
    padding: 0;
    border: none;
    color: #390099;
    text-decoration: none;
}

nav form button:hover {
    cursor: pointer;
}

main {
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    color: #390099;
    text-decoration: none;
}

a:hover, button:hover {
    background-color: #390099;
    color: white;
}

div.button {
    text-align: center;
}

a.button, input[type="submit"] {
    background: #390099;
    color: white;
    padding: 12px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

a.button:hover, input[type="submit"]:hover {
    background: #23005f;
    cursor: pointer;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #c8c8c8;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
}

thead {
    border-bottom: 1px solid #c8c8c8;
    color: #390099
}

thead th:nth-child(1) {
    width: 20%;
}

thead th:nth-child(2) {
    width: 30%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 35%;
}

td, th {
    text-align: center;
    padding: 10px 0;
}

th {
    font-weight: normal;
}

tr {
    padding: 4px;
}

td a {
    display: block;
    color: unset;
}

table:not(.job-details) tbody tr:hover {
    background-color: #390099;
    color: white;
}

label {
    display: block;
    padding: 5px 0;
}

textarea, input, select {
    margin-bottom: 10px;
}

textarea, input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 0.75em;
    border: 1px solid black;
}

select, input[type="date"] {
    padding: 0.33em;
    width: 33%;
}

textarea {
    height: 150px;
}

a.button.update {
    background: #4cc9f0;
}

a.button.update:hover {
    background: #3da0be;
}

a.button.delete {
    background: #f72585;
}

a.button.delete:hover {
    background: #cd1e6d;
}

a.button.delete, a.button.update {
    margin: 0;
    padding: 6px;
    position: relative;
    top: 1.5px;
}

#site-title a {
    background: #390099;
    color: white;
    padding: 2px;
}

#site-title {
    margin: 10px 0;
}

.job-applied-date {
    font-style: italic;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #390099;
    text-underline-offset: 6px;
}

.job-header, .job-notes {
    background: #f4f4f4;
    border: 1px solid #c8c8c8;
    padding: 15px;
}

.job-header {
    border-bottom: none;
}

.job-header div:first-child {
    margin-bottom: 20px;
}

.job-title {
    display: inline-block;
    background: #390099;
    color: white;
    padding: 6px;
    margin: 0
}

.job-title::selection, a.button::selection, input[type="submit"]::selection, #site-title::selection {
    background: #f4f4f4;
    color: black;
}

.job-action-buttons {
    margin-bottom: 40px;
}

.job-details {
    margin: 0;
}

.job-notes {
    border-top: none;
    height: 100px;
}

.insights {
    display: grid;
    grid-template-columns: 33% 33%;
    gap: 33%;
}

.insights > div {
    border: 1px solid #c8c8c8;
    padding: 12px;
    text-align: center;
}

.insights .stat-value {
    font-size: 24px;
    font-weight: bold;
    color: #390099;
}

.icon {
    position: relative;
    top: 4px;
}

.error {
    color: #ef476f;
}

.error + textarea, .error + input {
    border-color: #ef476f !important;
    border-width: 2px !important;
}

.flash {
    text-align: center;
    color: white;
    background: #390099;
    padding: 8px;
    margin-bottom: 25px;
}

.flash::selection {
    background: black;
}
